/* CSS CONSTRUCCION*/

/* IDS */
body {
    max-height: 100px !important;
}

/* TAGS */
#error {
    width: 100%;
    height: 925px;
}

#btn_volver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin: 5%;
    margin-top: 39%;
}

#construccion {
    display: block;
    max-width: 100%;
}

#construccion2{
    display: none;
}



/*Landscape*/
@media (min-width: 810px) and (max-width: 1080px) and (orientation:landscape) {

    #btn_volver {
        margin-top: 60%;
    }

    img {
        max-width: 100%;
        height: 810px;
    }

    #construccion {
        display: block;
        max-width: 100%;
    }

}

/*Portrait*/
@media (min-width: 810px) and (max-width: 1080px) and (orientation:portrait) {
    #btn_volver {
        margin-top: 52%;
    }

    #cosntruccion2{
        display: block !important;
    }
}