<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/styles/Styles.css">
        <title>En construcción</title>
    </head>
    <body>
            <video width="1440" height="925" autoplay>
                <source src="assets/videos/constrweb.mp4" type="video/mp4" alt="video pagina en construccion">
                Tu navegador no soporta el elemento de video.
            </video>
            <button id="btn_volver" class="botones_principales">
                <a href="home.html">Volver al restaurante</a>
            </button>
    </body>
</html>