<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/styles/Login.css">
        <link rel="stylesheet" href="assets/styles/Styles.css">
        <script type="text/javascript" src="../javascript/login.js"></script>
        <title>Login</title>
    </head>
    <body>
        <main>
            <a href="menu_hamburguesa.html"><img class="menu_hamburguesa"
                src="../static/assets/img/menuhamburguesa.png"
                alt="Menu" /></a>
            <section id="titulo_login">
                <img class="fondo_titulo"
                    src="assets/img/tit_login.png" />
            </section>
            <form id="form" method="post">
                <article id="datos_login">
                    <label> Nombre de usuario: </label>
                    <p><input class="input_corto" type="text" id="username" name="username"
                            placeholder="Usuario" /></p>
                    <label> Contraseña: </label>
                    <p><input class="input_corto" type="password" id="password"
                            name="password" placeholder="Password" /></p>
                </article>
                <article id="botones_form">
                    <button id="enviar" type="button" onClick="enviarPeticionAsincrona()" class="botones_principales">Enviar</button>
                    <button id="volver"
                        class="botones_principales"><a
                        th:href="@{/}">Volver</a></button>
                </article>
            </form>
        </main>
    </body>
</html>