<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/assets/styles/Menu_hamburguesa.css">
        <link rel="stylesheet" href="../static/assets/styles/Styles.css">
        <title>Menu</title>
    </head>
    <body>
        <main>
            <article>
                <a th:href="@{/}" class="boton_cerrar">
                    <img class="Icon" src="assets/icons/cerrar-ventana.png" alt="icono cerrar" />
                </a>
            </article>
            <article>
                <a th:href="@{/}"><h1>Nuestra Historia</h1></a>
                <a th:href="@{/restaurante}"><h1>El Restaurante</h1></a>
                <a th:href="@{/carta}"><h1>Nuestra Carta</h1></a>
                <a th:href="@{/contacto}"><h1>Contacto</h1></a>
                <a th:href="@{/reservas}"><h1>Reservas</h1></a>
                <a th:href="@{/login}"><h1>Administración</h1></a>
            </article>
        </main>
    </body>
</html>